<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QrCodeScan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A802F9D01DC9E5CF000053A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A802F9E91DC9E5CF000053A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A802F9F41DC9E5CF000053A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
